/* Navbar and card container will NOT change from page to page*/
body {
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.container-fluid {
    background: rgb(75, 76, 77);
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    height: 80px;
}

.nav-link {
    font-size: 20px;
    font-weight: 500;
    color: greenyellow;
    padding: 4px 0;
}

#timer {
    font-size: 20px;
    font-weight: 500;
    color: greenyellow;
    padding: 4px 0;
    margin-left: auto;
}

.container-fluid-2 {
    background-image: linear-gradient(to bottom right, rgb(243, 34, 79) , rgb(236, 150, 19));
    border-radius: 25px;
    padding: 10px;
    width: 625px;
    height: 500px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
/*-------------------------------------*/

/* Cards */
#start {
    text-align: center;
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
}

hr {
    position: relative;
    border: none;
    height: 3px;
    background: black;
}

#score {
    text-align: center;
    padding: 10px;
    font-size: 26px;
    font-weight: 500;
}

#text-div {
    text-align: center;
}

/*-------------------------------------*/

/* Start Button */
#startBtn {
    font-family: Georgia;
    font-size: 32px;
    font-weight: 525;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(34, 243, 44) , rgb(19, 113, 236));
    padding: 20px 40px;
    text-align: center;
}

/*-------------------------------------*/

/* Question Card/ Btn Layout */

.questLayout {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
}

.btnLayout {
    font-family: Georgia;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    border-radius: 25px;
    background-image: linear-gradient(to bottom right, rgb(116, 55, 173) , rgb(196, 25, 181));
    max-width: 100%;
    max-height: 50px;

}